@import "./mixins.scss";

.videoRoot {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.videoLoader {
  // video loader is inside the video-overlay
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.videoLoaderSpinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.videoTooltip {
  position: absolute;
  top: -4.5rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  z-index: 2;
}

.videoPoster {
  // inside the videoRoot
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
  background-position: center;
  background-size: cover;
  &:hover {
    filter: brightness(0.8);
  }
}

.videoPosterPlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.videoControlsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  width: 96%;
  margin: 0 auto;
}

.videoControlsBarLeft {
  display: flex;
  align-items: center;
}

.videoControlsBarRight {
  display: flex;
  align-items: center;
}

.videoControlsButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 10px;
}

.videoControlsContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(transparent, rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.videoTime {
  color: white;
  text-align: left;
  width: 96%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 10px;
  @include desktop {
    font-size: 0.8rem;
  }

  @include tablet {
    font-size: 0.7rem;
  }

  @include mobile {
    font-size: 0.5rem;
    margin-bottom: 10px;
  }
}

.videoTimeCurrent {
}

.videoTimeDuration {
  margin-left: auto;
}

.videoProgressBar {
  width: 96%;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
  transition: height 0.3s;
  &:hover {
    .videoProgressBarFill {
      background-color: white;
    }
    height: 5px;
  }
}

.videoProgressBarFill {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}

.seekingCanvas {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  border-radius: 0.2rem;
  border: 1px solid white;
}

.videoVolumeControlContainer {
  display: flex;
  align-items: center;
  margin: 0 10px;
  @include mobile {
    display: none;
  }
}

.volumeControlsButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px;
}

.volumeControlsBar {
  width: 70px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
  transition: height 0.3s;
  &:hover {
    .volumeControlsBarFill {
      background-color: rgba(255, 255, 255, 0.702);
    }
  }
}

.volumeControlsBarFill {
  height: 100%;
  background-color: white;
  transition: background-color 0.3s;
}

.volumeControlsBarHandle {
  position: absolute;
  top: -3.5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.contextPageOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contextMenuCard {
  position: absolute;
}

.contextMenu {
  background: rgba(0, 0, 0, 0.507);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
}

.contextMenuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: white;
  cursor: pointer;
  &:hover {
    background: rgba(245, 245, 245, 0.325);
  }
}

.contextMenuItemIcon {
  color: white;
  margin-right: 10px;
}

.contextMenuItemLabel {
  color: white;
  font-size: 0.7rem;
}
