.img_section {
	position: relative;
	width: fit-content;
	picture {
		width: fit-content;
	}
}
.blur_overlay {
	backdrop-filter: blur(5px);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
