.video-component {
  width: 100%;
  height: 100%;
}

.video-cover {
  position: relative;
}

.video-cover:hover .controlsbar {
  opacity: 1;
}

.controlsbar {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0.137)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.137));
}

.controlscover {
  margin: 0px 8px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: .5rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 230%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.progress {
  width: 100%;
  height: 3px;
  background-color: #fffefe8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.progress:hover {
  height: 5px;
}

.progress:hover .point {
  display: inline;
}

.finnished {
  background-color: red;
  width: 50%;
  height: 100%;
  pointer-events: none;
}

.point {
  display: none;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.controls {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settimgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.timestamps {
  font-size: .9rem;
  font-weight: bold;
}

.play, .foward, .timestamps, .fullscreen, .settings {
  margin: 8px 10px;
  cursor: pointer;
}

.settings {
  position: relative;
}

.settingsmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 120%;
  right: 0px;
  width: 200px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.63);
}

.item {
  font-size: .9rem;
  padding: 5px;
}

.icon {
  font-size: 1rem;
  padding: 5px;
}

.menutop {
  background-color: #3a3a3a;
}

.menuitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.menuitem:hover {
  background-color: rgba(85, 85, 85, 0.356);
}

.volumeadjust {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(14, 14, 14, 0.507);
  left: 0px;
  right: 0px;
  z-index: 7;
}

.postercover {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 4;
}

.posterimage {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000a1;
}

.posterimage img {
  width: 100%;
  height: 100%;
}

.postericon {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #00000017;
  z-index: 3;
}

.picon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  border-radius: 25px;
  background-color: red;
  padding: .5rem 1.5rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.contextcover {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 30;
  bottom: 0px;
}

.contextmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.63);
}
/*# sourceMappingURL=index.css.map */