node_modules
src
rollup.config.js
.babelrc
.eslintrc.js
comand.txt
players.txt
.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.DS_Store
.npmrc
config.gypi
.vs
.vscode
README.html
test
npm-debug.log*
yarn-debug.log*
yarn-error.log*