.audiocover {
    width: 100%;
    border-radius: 5px;
    background-color: #0f0f0f;
    //color: #99989883;
    color: #ffffff;
    font-size: 2rem;
}

.controls {
    display: flex;
    align-items: center;
    text-align: center;
    svg {
        cursor: pointer;
    }
}
.settings {
    flex: 1;
    margin-left: auto;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.5rem;
}
.loop {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1rem;
    flex: 1;
}
.central-controls {
    max-width: 200px;
    text-align: center;
    flex: 3;
    &>div {
    margin-left: auto;
    display: flex;
    margin-right: auto;
    div {
        flex: 1;
    }
    }
}