.audiocover {
  width: 100%;
  border-radius: 5px;
  background-color: #0f0f0f;
  color: #ffffff;
  font-size: 2rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.controls svg {
  cursor: pointer;
}

.settings {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: auto;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.loop {
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.central-controls {
  max-width: 200px;
  text-align: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.central-controls > div {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.central-controls > div div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=index.css.map */