.img_section {
	position: relative;
	width: fit-content;
	picture {
		width: fit-content;
	}
	&:hover {
		.download_btn {
			opacity: 1;
		}
	}
}
.blur_overlay {
	backdrop-filter: blur(5px);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.download_btn {
	width: fit-content;
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	top: 3px;
	right: 3px;
	background-color: whitesmoke;
	border-radius: 3px;
	.download_lnk {
		color: rgb(48, 47, 47);
		padding: 0.5px;
	}
}
