.react-audio-covering-div_EJIJIJijajijshi_2428242cf_22 {
  background-color: #faf8f8;
  border: 1px solid #c0bfbf;
  -webkit-box-shadow: #00000036 1px 1px 5px, #00000036 -1px -1px 5px;
          box-shadow: #00000036 1px 1px 5px, #00000036 -1px -1px 5px;
  width: 100%;
  height: 55px;
  padding: 0.2rem 0rem;
  border-radius: 3px;
  color: #006eff;
  position: relative;
}

.playing-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.playing-animation .first {
  width: 3px;
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4);
  height: 20px;
  background-color: #006eff;
  border-radius: 5px;
  margin: 1px;
  -webkit-animation: playing 1s infinite;
          animation: playing 1s infinite;
}

.playing-animation .middle {
  margin: 1px;
  width: 3px;
  height: 20px;
  background-color: #006eff;
  -webkit-animation: playing1 1s infinite;
          animation: playing1 1s infinite;
  border-radius: 20px;
}

@-webkit-keyframes playing {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

@keyframes playing {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

@-webkit-keyframes playing1 {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes playing1 {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.audio-display-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.audio-display-controls div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.hundred {
  width: -webkit-fill-available;
  width: stretch;
  width: -moz-available;
  width: fill-available;
}

.time-stamps-audio_12242334_A_wjsh {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem;
  color: blue;
  text-shadow: #006eff 1px 1px 1px;
}

.time-stamps-audio_12242334_A_wjsh .fullstime {
  margin-left: auto;
  padding-right: 5px;
}

.time-stamps-audio_12242334_A_wjsh .current {
  padding-left: 5px;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: aqua;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3 .finnished {
  background-color: #006eff;
  height: 100%;
  width: 50%;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3 .point {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: aqua;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3 .point:hover {
  background-color: #006eff;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3:focus {
  background-color: yellow;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3:hover {
  height: 5px;
}

.progress-audio-react_dkijs_23443sxjsjAJajAJ3:hover .point {
  width: 1px;
  height: 10px;
}

.audio-react-p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.react-audio-play svg,
.react-audio-rewind svg,
.react-audio-foward svg,
.react-audio-controls svg,
.react-audio-fixed svg {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.react-audio-play svg:hover,
.react-audio-rewind svg:hover,
.react-audio-foward svg:hover,
.react-audio-controls svg:hover,
.react-audio-fixed svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: blue;
}

.react-audio-controls {
  position: relative;
}

.react-audio-controls .finnished {
  background-color: blue;
  height: 100%;
}

.react-audio-controls .volume-add {
  position: absolute;
  top: -2px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.react-audio-controls .volume-div {
  width: 80px;
  height: 2px;
  background: aqua;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.react-audio-controls .volume-div:hover {
  height: 4px;
}

.react-audio-controls:hover .volume-add {
  opacity: 1;
}

.react-audio-covering-div_EJI {
  position: fixed;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.493) 1px 1px 30px;
          box-shadow: rgba(0, 0, 0, 0.493) 1px 1px 30px;
  top: 10px;
  right: 10px;
  background-color: #f5f5f5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #006eff;
  z-index: 1000;
}

.react-audio-covering-div_EJI .hundred {
  display: none;
}

.react-audio-covering-div_EJI .playing-animation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.react-audio-covering-div_EJI .playing-animation .first {
  width: 3px;
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4);
  height: 20px;
  background-color: blue;
  border-radius: 5px;
  margin: 1px;
  -webkit-animation: playing 1s infinite;
          animation: playing 1s infinite;
}

.react-audio-covering-div_EJI .playing-animation .middle {
  margin: 1px;
  width: 3px;
  height: 20px;
  background-color: blue;
  -webkit-animation: playing1 1s infinite;
          animation: playing1 1s infinite;
  border-radius: 20px;
}

.react-audio-covering-div_EJI .react-audio-play,
.react-audio-covering-div_EJI .react-audio-fixed {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.miniplayermode_2ueyhud87928_wuh {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  text-shadow: #c0bfbf 1px 1px 5px;
  background-color: rgba(0, 0, 0, 0.397);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding-top: 15px;
}
/*# sourceMappingURL=audio.css.map */