.one {
  width: 100%;
  height: 100%;
  color: blue;
  background: black;
  position: relative;
}

.one:hover .video-react-lower-bar {
  opacity: 1;
}

.progress-video-react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2px;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: aliceblue;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.progress-video-react .finnished {
  background-color: #006eff;
  height: 100%;
}

.progress-video-react .point {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: aqua;
}

.progress-video-react .point:hover {
  background-color: #006eff;
}

.progress-video-react:focus {
  background-color: yellow;
}

.progress-video-react:hover {
  height: 5px;
}

.progress-video-react:hover .point {
  width: 1px;
  height: 10px;
}

.video-react-loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.089);
  border: white 2px solid;
  border-top: blue 2px solid;
  width: 50px;
  top: 33.33%;
  left: 43.33%;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
  position: absolute;
  /* margin: auto;
	margin-top: auto;
	margin-bottom: auto; */
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.video-react-lower-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0.5rem 0.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.404)), color-stop(rgba(0, 0, 0, 0.589)), to(rgba(0, 0, 0, 0.863)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.863));
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.one > video {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-react-controls > div {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 5px;
}

.video-react-controls > div svg {
  margin-top: auto !important;
  width: 100% !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-bottom: auto !important;
}

.video-react-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.time-stamps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7rem;
  color: white;
  text-shadow: black 1px 1px 1px;
}

.time-stamps .fullstime {
  margin-left: auto;
  padding-right: 5px;
}

.time-stamps .current {
  padding-left: 5px;
}

.video-react-more {
  position: relative;
}

.video-react-play,
.video-react-pause,
.video-react-volume,
.video-react-fullscreen,
.video-react-rewind,
.video-react-forward,
.video-react-more {
  border: rgba(209, 208, 208, 0) 1px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
}

.video-react-play:hover,
.video-react-pause:hover,
.video-react-volume:hover,
.video-react-fullscreen:hover,
.video-react-rewind:hover,
.video-react-forward:hover,
.video-react-more:hover {
  border-top: rgba(209, 208, 208, 0.267) 1px solid;
  border-bottom: rgba(209, 208, 208, 0.267) 1px solid;
  background-color: rgba(128, 128, 128, 0.089);
  color: aqua;
}

span.icon {
  padding: 5px;
  width: 30px;
}

.video-react-menu {
  background-color: white;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 101%;
  padding: 0.3rem 5px;
  font-size: 1rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  border-radius: 5px;
  right: 0px;
  position: absolute;
  color: black;
}

.list- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-:hover {
  background: whitesmoke;
}

.video-react-volume {
  position: relative;
}

.video-react-volume .finnished {
  background-color: aqua;
  height: 100%;
}

.video-react-volume .volume-add {
  position: absolute;
  top: -2px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.video-react-volume .volume-div {
  width: 80px;
  height: 2px;
  background: white;
  border-radius: 5px;
}

.video-react-volume:hover .volume-add {
  opacity: 1;
}
/*# sourceMappingURL=Video.css.map */